.explain_brief {

    & .image{
      width: auto; /* 幅を100%に設定 */
      height: auto; /* 高さを自動調整 */

    }
  }



@media screen and (max-width: 400px) {
  .explain_brief{
    .image-block{
      padding: 0;
      margin: 0;
    }
  }
   .image {
    width: auto;
    height: auto;
    
  }
}
