// 確認済み
.facilities{
  width: 90%;
  height: auto;
  display: block;
  margin: auto;
  
}

.facilities .title {
  text-align: center;
  margin-bottom: 100px;
}

.facilities .title > p {
font-size: 50px;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-color: #000;
text-underline-offset: 10px;
}

// 未確認




.facilities .facility {
  margin-bottom: 150px;

.facility-name{
  border-bottom: 2px solid #828282;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between
  
}

& p{
  margin: 10px 0;
}

& p.name{
  font-size: 24px;
  padding-left: 15px;
  margin: 0;
}
& p.p.address{
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 500px;
}
}



@media screen and (max-width: 400px){
  .facility .facility-name{
    // flex-direction: center;
    flex-direction: column;

    p.name{
      text-align: center;
    } 

    p.address{
      text-align: end;
      justify-content: flex-end;
      
    }
  }
}
