@charset "utf-8";
@use 'parts/nav';
@use 'parts/explain';
@use 'parts/header';
@use 'parts/facilities';


/* フォント */
@font-face {
    font-family: 'Honoka';
    src: url('../fonts/Honoka_Shin_Mincho_L.otf') format('otf')
}


/*========= ボタンのためのCSS ===============*/
.openbtn1 {
    position: fixed;
    z-index: 9999;
    top: 30px;
    left: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;

    span {
        display: inline-block;
        transition: all 0.4s;
        position: absolute;
        left: 14px;
        height: 3px;
        border-radius: 2px;
        background-color: #666;
        width: 45%;

        &:nth-of-type(1) {
            top: 15px;
        }

        &:nth-of-type(2) {
            top: 23px;
        }

        &:nth-of-type(3) {
            top: 31px;
        }

    }
 
    
    &.active span:nth-of-type(1) {
        top: 18px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 30%;
    }
    
    &.active span:nth-of-type(2) {
        opacity: 0;
    }
    
    &.active span:nth-of-type(3) {
        top: 30px;
        left: 18px;
        transform: translateY(-6px) rotate(45deg);
        width: 30%;
    }
}





/*========= レイアウトのためのCSS ===============*/

h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 1.2rem;
    text-align: center;
    margin: 0 0 30px 0;
}

p {
    margin-top: 20px;
}

small {
    color: #fff;
    display: block;
    text-align: center;
}







.nav-list {
    position: fixed;
    top: 30px;
    right: 100px;
}

.nav-list li {
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: #000;
}

// .row {
//     margin: 100px;
//     display: flex;
// }



.mySlides {
    display: none;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}








.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

/* button:hover {
    background-color: #0056b3;
} */

.details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.details.open {
    max-height: 600px; /* 予想される最大の高さに調整 */
}

.arrow {
    margin-left: 10px;
    transition: transform 0.3s;
}

.arrow.rotate {
    transform: rotate(180deg);
}

.reservation,
.access,
.faq {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* 子要素を水平中央揃え */
    justify-content: center; /* 子要素を垂直中央揃え */
    text-align: center; /* テキストを中央揃え */
}

.reservation .title {
    text-align: center;
}

.reservation .title > p,
.access .title > p,
.faq .title > p {
    font-size: 50px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #000;
    text-underline-offset: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left; /* テキストを左揃え */
}

.method, .explain, .detail-btn {
    width: 100%; /* 必要に応じて調整 */
    max-width: 600px; /* 任意の最大幅 */
}



.explain {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left; /* テキストを左揃え */
}

.email, .phone {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
}


.sns {
    display: flex;
    justify-content: center;
    gap: 20px; /* 各SNSアイコン間のスペース */
}
.sns-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none; /* リンクの下線を削除 */
    color: #000; /* テキストとアイコンの色*/
}


.reservation .content .method{
    font-size: 24px;
}


/* ボタン */
/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.detail-btn{
    padding: 50px;
}

.btn,
a.btn,
button.btn {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
}

a.btn-border:hover {
  color: #fff;
  background: #000;
}