@charset "UTF-8";
/*========= ナビゲーションのためのCSS ===============*/
#g-nav {
  position: fixed;
  z-index: 999;
  top: 0;
  left: -120%;
  width: 100%;
  height: 100vh;
  background: #999;
  transition: all 0.6s;
  opacity: 0.8;
}
#g-nav ul {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#g-nav li {
  list-style: none;
  text-align: center;
}
#g-nav li a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}
#g-nav.panelactive {
  left: 0;
}
#g-nav.panelactive #g-nav-list {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.explain_brief .image {
  width: auto; /* 幅を100%に設定 */
  height: auto; /* 高さを自動調整 */
}

@media screen and (max-width: 400px) {
  .explain_brief .image-block {
    padding: 0;
    margin: 0;
  }
  .image {
    width: auto;
    height: auto;
  }
}
.top-image {
  height: calc(100vh - 70px); /* Adjust height to be full viewport minus header */
  background-image: url("../images/tomoe_top.jpg");
  background-size: cover;
  background-position: center;
  padding: 0;
}

@media screen and (max-width: 500px) {
  .top-image {
    height: calc(100vh - 70px);
  }
}
/* Header container styling */
#header {
  position: relative;
  height: 100px; /* Adjust height as necessary */
  background-color: #fff; /* Background color or other styles as needed */
}

/* Logo styling */
.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Optional: Adjust the logo image size */
.logo img {
  height: 70px; /* Adjust the logo size */
}

.facilities {
  width: 90%;
  height: auto;
  display: block;
  margin: auto;
}

.facilities .title {
  text-align: center;
  margin-bottom: 100px;
}

.facilities .title > p {
  font-size: 50px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #000;
  text-underline-offset: 10px;
}

.facilities .facility {
  margin-bottom: 150px;
}
.facilities .facility .facility-name {
  border-bottom: 2px solid #828282;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.facilities .facility p {
  margin: 10px 0;
}
.facilities .facility p.name {
  font-size: 24px;
  padding-left: 15px;
  margin: 0;
}
.facilities .facility p.p.address {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 500px;
}

@media screen and (max-width: 400px) {
  .facility .facility-name {
    flex-direction: column;
  }
  .facility .facility-name p.name {
    text-align: center;
  }
  .facility .facility-name p.address {
    text-align: end;
    justify-content: flex-end;
  }
}
/* フォント */
@font-face {
  font-family: "Honoka";
  src: url("../fonts/Honoka_Shin_Mincho_L.otf") format("otf");
}
/*========= ボタンのためのCSS ===============*/
.openbtn1 {
  position: fixed;
  z-index: 9999;
  top: 30px;
  left: 30px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.openbtn1 span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #666;
  width: 45%;
}
.openbtn1 span:nth-of-type(1) {
  top: 15px;
}
.openbtn1 span:nth-of-type(2) {
  top: 23px;
}
.openbtn1 span:nth-of-type(3) {
  top: 31px;
}
.openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}
.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}
.openbtn1.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

/*========= レイアウトのためのCSS ===============*/
h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.2rem;
  text-align: center;
  margin: 0 0 30px 0;
}

p {
  margin-top: 20px;
}

small {
  color: #fff;
  display: block;
  text-align: center;
}

.nav-list {
  position: fixed;
  top: 30px;
  right: 100px;
}

.nav-list li {
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: #000;
}

.mySlides {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

/* button:hover {
    background-color: #0056b3;
} */
.details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.details.open {
  max-height: 600px; /* 予想される最大の高さに調整 */
}

.arrow {
  margin-left: 10px;
  transition: transform 0.3s;
}

.arrow.rotate {
  transform: rotate(180deg);
}

.reservation,
.access,
.faq {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* 子要素を水平中央揃え */
  justify-content: center; /* 子要素を垂直中央揃え */
  text-align: center; /* テキストを中央揃え */
}

.reservation .title {
  text-align: center;
}

.reservation .title > p,
.access .title > p,
.faq .title > p {
  font-size: 50px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #000;
  text-underline-offset: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left; /* テキストを左揃え */
}

.method, .explain, .detail-btn {
  width: 100%; /* 必要に応じて調整 */
  max-width: 600px; /* 任意の最大幅 */
}

.explain {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left; /* テキストを左揃え */
}

.email, .phone {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sns {
  display: flex;
  justify-content: center;
  gap: 20px; /* 各SNSアイコン間のスペース */
}

.sns-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none; /* リンクの下線を削除 */
  color: #000; /* テキストとアイコンの色*/
}

.reservation .content .method {
  font-size: 24px;
}

/* ボタン */
/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  box-sizing: inherit;
}

.detail-btn {
  padding: 50px;
}

.btn,
a.btn,
button.btn {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
}

a.btn-border:hover {
  color: #fff;
  background: #000;
}/*# sourceMappingURL=style.css.map */