@charset "utf-8";
@use 'parts/nav';
@use 'parts/explain';


/* フォント */
@font-face {
    font-family: 'Honoka';
    src: url('../fonts/Honoka_Shin_Mincho_L.otf') format('otf')
}








/*========= ボタンのためのCSS ===============*/
.openbtn1 {
    position: fixed;
    z-index: 9999;
    top: 30px;
    left: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;

    span {
        display: inline-block;
        transition: all 0.4s;
        position: absolute;
        left: 14px;
        height: 3px;
        border-radius: 2px;
        background-color: #666;
        width: 45%;

        &:nth-of-type(1) {
            top: 15px;
        }

        &:nth-of-type(2) {
            top: 23px;
        }

        &:nth-of-type(3) {
            top: 31px;
        }

    }
 
    
    &.active span:nth-of-type(1) {
        top: 18px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 30%;
    }
    
    &.active span:nth-of-type(2) {
        opacity: 0;
    }
    
    &.active span:nth-of-type(3) {
        top: 30px;
        left: 18px;
        transform: translateY(-6px) rotate(45deg);
        width: 30%;
    }
}




/*========= レイアウトのためのCSS ===============*/

h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 1.2rem;
    text-align: center;
    margin: 0 0 30px 0;
}

p {
    margin-top: 20px;
}

small {
    color: #fff;
    display: block;
    text-align: center;
}

#header {
    // width: 100%;
    color: #fff;
    text-align: center;
    padding-top: 40px;
    background: #fff;
    height: 70px;
}

.top-image {
    // width: 100%;
    height: calc(100vh - 70px); /* Adjust height to be full viewport minus header */
    background-image: url('../images/tomoe_top.jpg');
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 500px) {
    .top-image {
        height: auto;
    }
}

.logo-container {
    max-width: 150px;
    position: fixed;
    top: 30px;
    left: 120px;
    margin: auto;
    overflow: hidden;
}

.logo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.nav-list {
    position: fixed;
    top: 30px;
    right: 100px;
}

.nav-list li {
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: #000;
}

.row {
    margin: 100px;
    display: flex;
}

.row .image img.image_only {
    width: 500px; /* 幅を100%に設定 */
    height: auto; /* 高さを自動調整 */
}

.row .image .slideshow-container {
    width: 700px; /* 幅を100%に設定 */
    height: auto; /* 高さを自動調整 */
}

.explain_brief .text {
    margin: 50px;
}

.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


.facilities .title{
    text-align: center;
}

.facilities .title > p{
    font-size: 50px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #000;
    text-underline-offset: 10px;
    
}



.custom-slider-container {
    position: relative;
    width: 500px;
    margin: 30px auto 10px;
    overflow: hidden; /* To hide overflow content */
}

.custom-slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Smooth transition effect */
}

.custom-slider-item {
    min-width: 100%; /* Each slide takes full width */
    box-sizing: border-box;
}

.custom-slider-item img {
    width: 100%;
    border-radius: 10px;
}



.custom-prev, .custom-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10; /* Ensure buttons are above other elements */
}

.custom-prev {
    left: 10px;
}

.custom-next {
    right: 10px;
}

.custom-dots {
    text-align: center;
    padding-top: 10px;
}

.custom-dots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
}

.custom-dots .active {
    background-color: #333;
}


.facilities{
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}

.facilities .facility{
    margin-bottom: 150px;
}

.facility .facility-name{
    display: flex;
    padding-bottom: 10px;
    border-bottom: 2px solid #828282;
    align-items: center;
    justify-content: space-between;
}

.facility .facility-name p.name{
    font-size: 24px;
    padding-left: 15px;
    margin: 0;
}

.facility .facility-name p.address{
    font-size: 16px;
    /* padding-left: 15px; */
    display: flex;
    align-items: center;
    margin: 0px; 
}

.facility-explain{
    display: flex;
}

.facility-explain .text{
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-family: 'Honoka', sans-serif;
}

.facility-explain .text .explain{
    /* letter-spacing: 0.5em; */
    line-height: 24px;
    margin: 0px;
    padding-bottom: 10px;
    
}

.facility-explain .text .people{
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* SVGとテキストの間のスペースを調整 */
    /* padding: 10px; */
    /* margin: 0px 0; 上下のスペースを10pxに設定、左右は0 */
}


.facility-explain .text .people svg {
    flex-shrink: 0; /* SVGが縮小されないようにする */
    width: 32px;
    height: 32px;
}

.facility-explain .text .people p {
    margin: 6px; /* p要素のデフォルトマージンをリセット */
    line-height: 1.5; /* テキストの行間を調整 */
}



.room-info {
    max-width: 600px;
    margin: 0 auto 20px;
    padding: 20px;
    /* border: 1px solid #ccc; */
    /* border-radius: 10px; */
}

.room-info h2 {
    text-align: center;
    color: #333;
}

.room-info ul {
    list-style-type: none;
    padding: 0;
}

.room-info li {
    margin-bottom: 5px;
    color: #555;
}

.room-info .amenities {
    padding-left: 20px;
}

.room-info .amenities li {
    margin-bottom: 5px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

/* button:hover {
    background-color: #0056b3;
} */

.details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.details.open {
    max-height: 600px; /* 予想される最大の高さに調整 */
}

.arrow {
    margin-left: 10px;
    transition: transform 0.3s;
}

.arrow.rotate {
    transform: rotate(180deg);
}

.reservation,
.access,
.faq {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* 子要素を水平中央揃え */
    justify-content: center; /* 子要素を垂直中央揃え */
    text-align: center; /* テキストを中央揃え */
}

.reservation .title {
    text-align: center;
}

.reservation .title > p,
.access .title > p,
.faq .title > p {
    font-size: 50px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #000;
    text-underline-offset: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left; /* テキストを左揃え */
}

.method, .explain, .detail-btn {
    width: 100%; /* 必要に応じて調整 */
    max-width: 600px; /* 任意の最大幅 */
}



.explain {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left; /* テキストを左揃え */
}

.email, .phone {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
}


.sns {
    display: flex;
    justify-content: center;
    gap: 20px; /* 各SNSアイコン間のスペース */
}
.sns-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none; /* リンクの下線を削除 */
    color: #000; /* テキストとアイコンの色*/
}


.reservation .content .method{
    font-size: 24px;
}


/* ボタン */
/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.detail-btn{
    padding: 50px;
}

.btn,
a.btn,
button.btn {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
}

a.btn-border:hover {
  color: #fff;
  background: #000;
}